<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-bicycle"></i>
      Cycle Retail Shop
    </a>
    
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          <i class="fa fa-user"></i>
          {{ authService.currentUserValue?.username }}
          <span class="badge bg-primary ms-2">{{ authService.currentUserValue?.role }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <!-- Common for all roles -->
          <li>
            <a class="dropdown-item" routerLink="/profile">
              <i class="fa fa-user"></i> Profile
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          
          
          
          <li>
            <a class="dropdown-item" (click)="authService.logout()">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>