.table {
    th, td {
      vertical-align: middle;
    }
  }
  
  .btn-group-sm .btn {
    padding: 0.25rem 0.5rem;
  }
  img {
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  